:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --logo-color:#000000;
    --bg-color:#2F303A;
    --second-fon-color:#F5F4FA;
    --direct-color:rgba(255, 255, 255, 0.6);
}

body{
    background-color:var(--primary-white-color) ;
    color:var( --primary-text-color) ;
    font-family: Roboto,sans-serif;
    font-size:14px;
    letter-spacing: 0.03em; 
}

address{
    font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul{
    padding-left: 0;
    margin: 0;
}

button{
    cursor: pointer;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.list {
    list-style: none;  
 }

 .link {
    text-decoration: none;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid brown; */
}


/*Header*/
.container.page-header{
    display: flex;
    align-items: center;
}

/* Logo */
.page-header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo {
    color:var(--logo-color); 
    font-family: Raleway,sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo .accent{
    color:var(--accent-color) ;
}

/* Site nav */
.nav-flex {
    display: flex;
    align-items: center;
}
.site-nav{
    display: flex;
    margin-left: 93px;
}

.site-nav .item + .item{
    margin-left: 50px;
}

.site-nav .link-page{
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    color: var(--title-text-color);

    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link-page:hover , 
.site-nav .link-page:focus {
    color: var(--accent-color);
}
.site-nav .link-current {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    color: var(--accent-color);
    font-weight: 500;
}


/* Contact */
.contact-list{
    display: flex;
    align-items: center;
    margin: auto;
}

.contact-list .item:not(last-child){
    margin-right: 50px;
}

.contact {
    color: var( --primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact:hover,
.contact:focus {
    color:var(--accent-color);
}

/* .icon-head { 
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 10px 0 0;
} */

/* Hero */

.hero{
    /* padding-top: 200px;
    padding-bottom: 280px; */
    padding: 200px 0;
    background-color:var(--bg-color);
    text-align: center;
}

.hero-title {
    width: 696px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    color:var(--primary-white-color);

    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

/* Principles */
.principles{
    display: flex;
    justify-content: space-between;
}

.principles-item{
    width: 270px;
}

.visually-hidden{
    position:absolute;
    white-space: nowrap;
    width:1px;
    height:1px;
    overflow:hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.principles .title {
    margin-top: 0;
    margin-bottom: 10px;

    color:var( --title-text-color) ;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.principles .text {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Section */
.section{
    padding: 94px 0;
}

.section-title{
    margin-bottom: 50px;
    
    color:var( --title-text-color) ;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-list{
    display: flex;
}

.section-item:not(:last-child) {
    margin-right: 30px;
}

/* Team */
.section-team{
    margin-bottom: 50px;
    padding-top: 94px;
    
    color:var( --title-text-color) ;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-group{
    padding-bottom: 94px;

    background-color:var(--second-fon-color);
}
.team {
    display: flex;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team .title {
    /* margin-top: 30px; */
    margin-bottom: 10px;

    color:var(--title-text-color) ;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team .text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-desc {
    background: #FFFFFF;
    padding: 30px 0;
    text-align: center;
}

/* Button */

.button {
    margin: 0 auto;
    display: block;
    padding: 10px 32px;
    border: 0px solid transparent;
    border-radius: 4px;
    
    background-color:var(--accent-color);
    color:var(--second-fon-color);
    
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
}


/* Стили для Портофолио" */
/*Фильтры*/

.filter{
    padding-top: 94px;
    padding-bottom: 94px;   
}

.filter-link{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.style-filter {
    padding: 6px 22px;
    display: inline-block;

    background-color:var(--second-fon-color);
    color:var( --title-text-color) ;

    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    text-align: center;

    border: 0px solid transparent;
    border-radius: 4px;
}

.style-filter:hover,
.style-filter:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.filter-iteam:not(:last-child) {
    margin-right: 8px;
}

/* Examples */
.examples{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.examples .examples-item{
    width: calc((100% - 60px) / 3);
}

.examples .examples-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.examples .examples-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.galery-desc {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-top: none;
    padding: 20px 24px;
}

.examples .title {
    margin-bottom: 4px;

    color:var(--title-text-color) ;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}


.examples .text { 
    color:var(--primary-text-color) ;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.examples-link{
   
    color:var(--title-text-color) ;
}

/* Footer */
.address{
    
    padding-top: 60px;
    padding-bottom: 60px;
   
    background-color:var(--bg-color);
    font-style: normal;
}

.address-link{
    margin-top: 20px;
}

.address .logo { 
    margin-bottom: 20px;
    width: 145px;
    
    color:var(--primary-white-color);
} 

.address-link .logo{
    color:var(--primary-white-color) ;
}

.address-link .logo.accent  {
    color:var(--accent-color)
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-direct{

    color:var(--primary-white-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.direct{
    color:var(--direct-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.direct:hover,
.direct:focus{
    color:var(--accent-color) 
}

